<div class="context">
  <table>
    <tr>
      <td>City</td>
      <td>{{ data.city }}</td>
    </tr>
    <tr>
      <td>Country</td>
      <td>{{ data.country }}</td>
    </tr>
    <tr>
      <td>Continent</td>
      <td>{{ data.continent }}</td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td>{{ data.latitude }}</td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td>{{ data.longitude }}</td>
    </tr>
    <tr>
      <td>Organization&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{ data.organization }}</td>
    </tr>
    <tr>
      <td>ASN</td>
      <td>{{ data.asn }}</td>
    </tr>
  </table>
</div>
