table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 12vw;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
