.search-box {
  padding-top: 10px;
  text-align: center;
  margin: auto;
  width: calc(var(--main-width) / 100 * 50);
}

.mat-icon {
  font-size: 20px;
  padding-right: 16px;
}

.my-form-field {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .search-box {
    padding-top: 10px;
    text-align: center;
    margin: auto;
    width: calc(var(--main-width) / 100 * 90);
  }
}
