<div class="context">
  <div class="subtitle-2">Note</div>
  <p>
    1. This project is inspired by
    <a href="https://ifconfig.co" target="_blank">ifconfig.co</a>.
  </p>
  <p>
    2. The source code is available on
    <a href="https://github.com/i3h/ifconfig" target="_blank">GitHub</a>. You
    can also run a self-hosted service.
  </p>
  <p>
    3. This product includes GeoLite2 data created by MaxMind, available from
    <a href="https://www.maxmind.com" target="_blank">https://www.maxmind.com</a
    >.
  </p>
</div>
