<div class="context">
  <div class="subtitle-2">Note</div>
  <p>
    1. This project is inspired by
    <a href="https://ifconfig.co" target="_blank">ifconfig.co</a>. And
    <a href="https://ifconfig.is" target="_blank">ifconfig.is</a> provides more
    features, including looking up ip data and GraphQL api.
  </p>
  <p>
    2. You can access source code of this project on
    <a href="https://github.com/i3h/ifconfig" target="_blank">GitHub</a>. There
    is also a Dockerfile for you to run self-hosted service.
  </p>
  <p>
    3. This product includes GeoLite2 data created by MaxMind, available from
    <a href="https://www.maxmind.com" target="_blank">https://www.maxmind.com</a
    >.
  </p>
</div>
